<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            text-align: center;
            color: white;
        }
        h1 {
            color: aqua;
            font-size: 3.5rem;
            margin-bottom: 30px;
        }
        a {
            text-decoration: none;
        }
        button {
            padding: 10px 20px;
            margin: 10px;
            background-color:cadetblue;
            color: white;
            border: none;
            border-radius: 9px; 
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #0056b3;
        }
        button:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
        }
    </style>
</head>
<body>
    <h1>Hello Everyone</h1>
    <h2> Welcome to My Project</h2>
    <a href="/login"><button>Login</button></a>
    <a href="/signup"><button>signup</button></a>
</body>
</html>